{% extends "patternatlas/root.html" %}

{% block title %}Patterns for ??&mdash;{{ block.super }}{% endblock %}

{% block docs %}
{{ app_atlas.description }}
<a class="django-patternatlas-button" href="{% url 'patternatlas:index' %}">Back to home</a>
{% if 'textonly' in request.GET %}
<a class="django-patternatlas-button" href="{% url 'patternatlas:app' kwargs.app_label %}">Back to pattern list</a>
{% else %}
<a class="django-patternatlas-button" href="{% url 'patternatlas:app' kwargs.app_label %}?textonly">Pattern descriptions</a>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% url 'patternatlas:app' kwargs.app_label as CRUMB_URL %}
    {% if request.path == CRUMB_URL %}
    <li class="active">{{ app_atlas.0.module_name }}</li>
    {% else %}
    <li><a href="{{ CRUMB_URL }}">{{ app_atlas.0.module_name }}</a></li>
    {% endif %}
{% endblock %}


{% block content %}
{% if 'textonly' not in request.GET %}
    {% for x in app_atlas %}
        {% include "patternatlas/_pattern_complete.html" with pattern=x %}
    {% endfor %}
{% else %}
  <dl class="django-patternatlas-toctree">
  {% for x in app_atlas %}
      <dt>
      <a href="{{ x.get_absolute_url }}">{{ x.name }}</a>
      {{ x.description }}
      </dt>
  {% endfor %}
  </dl>
{% endif %}
{% endblock %}
