{% extends "patternatlas/root.html" %}

{% block title %}Patterns for ??&mdash;{{ block.super }}{% endblock %}

{% block docs %}
{{ app_atlas.description }}
{% endblock %}

{% block content %}
<dl class="django-patternatlas-patternlist">
    <dt>appname</dt>
    {% for x in app_atlas %}
    <dd class="django-patternatlas-patternlist-item">
       <a href="{{ x.get_absolute_url }}">{{ x.name }}</a>
       {% if x.description %}
       <p>{{ x.description }}</p>
       {% endif %}
    </dd>
    {% endfor %}
</dl>
{% endblock %}
