<!DOCTYPE html>
<html class="no-js">
{% load static %}
{% load url from future %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'patternatlas/css/base.css' %}{% if debug %}?u={% now 'u' %}{% endif %}">
        <link rel="stylesheet" type="text/css" href="{% static 'patternatlas/css/breadcrumbs.css' %}{% if debug %}?u={% now 'u' %}{% endif %}">
        <link rel="stylesheet" type="text/css" href="{% static 'patternatlas/css/buttons.css' %}{% if debug %}?u={% now 'u' %}{% endif %}">
        {% block topassets %}{% endblock %}
    </head>
    <body class="{% if request.GET.popup %}django-patternatlas-in-popup{% endif %}" id="">
        {# seriously if your css clashes with these classes you're crazy #}
        <div class="django-patternatlas-container">

            <div class="django-patternatlas-header{% if request.GET.popup %}-hidden{% endif %}">
            <h1 class="django-patternatlas-title"><a href="{% url 'patternatlas:index' %}">Pattern atlas</a></h1>
            {% block header %}{% endblock %}
            </div>


            <div class="django-patternatlas-breadcrumbs">
                <ol>{% block breadcrumbs %}{% endblock %}</ol>
            </div>

            <div class="django-patternatlas-readme">
                {% block docs %}{% endblock %}
            </div>

            <div class="django-patternatlas-content">
            {% block content %}{% endblock content %}
            </div>
        </div>

        {% block bottomassets %}{% endblock %}
    </body>
</html>
