{% extends "patternatlas/app_label.html" %}
{% block title %}Pattern for ??&mdash;{{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% url 'patternatlas:pattern' kwargs.app_label kwargs.pattern_name as CRUMB_URL %}
    {% if request.path == CRUMB_URL %}
    <li class="active">{{ pattern_atlas.0.name }}</li>
    {% else %}
    <li><a href="{{ CRUMB_URL }}">{{ pattern_atlas.0.name }}</a></li>
    {% endif %}
{% endblock %}

{% block docs %}
{{ app_atlas.description }}
{% for x in pattern_atlas %}
<hr>
{% if x.description %}{{ x.description }}{% endif %}
{% endfor %}
<a class="django-patternatlas-button" href="{% url 'patternatlas:app' kwargs.app_label %}">Back</a>
{% endblock %}

{% block content %}
{% for x in pattern_atlas %}
{% include "patternatlas/_pattern.html" with pattern=x %}
{% endfor %}
{% endblock %}
