{% extends "patternatlas/app_label.html" %}
{% load static %}
{% load url from future %}

{% block title %}Pattern for {{ pattern_atlas.0.name }}&mdash;{{ block.super }}{% endblock %}

{% block topassets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'django_pygments/css/pygments_default.css' %}{% if debug %}?u={% now 'u' %}{% endif %}">
{% endblock topassets %}

{% block breadcrumbs %}
    {{ block.super }}
    {% url 'patternatlas:pattern' kwargs.app_label kwargs.pattern_name as CRUMB_URL %}
    {% if request_path == CRUMB_URL %}
    <li class="active">{{ pattern_atlas.0.name }}</li>
    {% else %}
    <li><a href="{{ CRUMB_URL }}">{{ pattern_atlas.0.name }}</a></li>
    {% endif %}
{% endblock %}

{% block docs %}
{{ app_atlas.description }}
{% for x in pattern_atlas %}
<hr>
<h2>&#8216;{{ x.name }}&#8217;</h2>
{% if x.description %}{{ x.description }}{% endif %}
{% endfor %}
<a class="django-patternatlas-button" href="{% url 'patternatlas:app' kwargs.app_label %}">Back to {{ app_atlas.0.module_name }}</a>
{% endblock %}

{% block content %}
{% for x in pattern_atlas %}
{% include "patternatlas/_pattern.html" with pattern=x %}
{% endfor %}
{% endblock %}
