{% extends "patternatlas/base.html" %}
{% load i18n patternatlas %}

{% block title %}Pattern atlas, a styleguide.{% endblock %}

{% block topassets %}
{{ atlas_assets.top|join:' ' }}
{% endblock %}

{% block bottomassets %}
{{ atlas_assets.bottom|join:' ' }}
{% endblock %}

{% block docs %}
{% include "patternatlas/_root_readme.html" %}
{% if 'textonly' in request.GET %}
    <a href="{% url 'patternatlas:index' %}" class="django-patternatlas-button">Back to pattern list</a>
{% else %}
    <a href="{% url 'patternatlas:index' %}?textonly" class="django-patternatlas-button">Pattern descriptions</a>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% url 'patternatlas:index' as CRUMB_URL %}
    {% if request.path == CRUMB_URL %}
    <li class="active">{% trans "Home" %}</li>
    {% else %}
    <li><a href="{{ CRUMB_URL }}">{% trans "Home" %}</a></li>
    {% endif %}
{% endblock %}

{% block content %}
{% if 'textonly' not in request.GET %}
    {% for x in atlas %}
        {% include "patternatlas/_pattern_complete.html" with pattern=x %}
    {% endfor %}
{% else %}
    <dl class="django-patternatlas-toctree">
    {% for x in atlas %}
        {% ifchanged x.module_name %}
        <dt>
        <a href="{{ x.get_parent_url }}">{{ x.module_name }}</a>
        {{ x.module_description }}
        </dt>
        {% endifchanged %}
        <dd>
        <a href="{{ x.get_absolute_url }}">{{ x.name }}</a>
        {{ x.description }}
        </dd>
    {% endfor %}
    </dl>
{% endif %}
{% endblock %}

