{% extends "patternatlas/base.html" %}
{% load i18n patternatlas %}

{% block title %}Pattern atlas, a styleguide.{% endblock %}

{% block topassets %}
{{ atlas_assets.top|join:' ' }}
{% endblock %}

{% block bottomassets %}
{{ atlas_assets.bottom|join:' ' }}
{% endblock %}

{% block breadcrumbs %}
    {% url 'patternatlas:index' as CRUMB_URL %}
    {% if request.path == CRUMB_URL %}
    <li class="active">{% trans "Home" %}</li>
    {% else %}
    <li><a href="{{ CRUMB_URL }}">{% trans "Home" %}</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<dl class="django-patternatlas-toctree">
{% for app, pattern in atlas.app_labels_and_pattern_names %}
    {% ifchanged app %}
    <dt><a href="#{{ app|slugify }}">{{ app }}</a></dt>
    {% endifchanged %}
    <dd>{{ pattern }}</dd>
{% endfor %}
</dl>

{% for x in atlas %}
    {% ifchanged x.module %}
    <a name="{{ x.module|slugify }}"></a>
    <h2>{{ x.module }}</h2>
    {% endifchanged %}
    {% include "patternatlas/_pattern.html" with pattern=x %}
{% endfor %}
{% endblock %}

