<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="" id="">
        {# seriously if your css clashes with this class you're crazy #}
        <div class="django-patternatlus-container">
        {% block content %}{% endblock content %}
        </div>
    </body>
</html>
