{% extends "patternatlus/base.html" %}
{% load patternatlus %}

{% block title %}Pattern Atlus, a styleguide.{% endblock %}

{% block topassets %}
{{ atlus_assets.top|join:' ' }}
{% endblock %}

{% block bottomassets %}
{{ atlus_assets.bottom|join:' ' }}
{% endblock %}

{% block content %}
<ol class="django-patternatlus-applist">
{% for x in atlus.app_labels %}
<li class="django-patternatlus-applist-item">
    <a href="#{{ x|slugify }}">{{ x }}</a>
</li>
{% endfor %}
</ol>

{% for x in atlus %}
    {% ifchanged x.module %}
    <a name="{{ x.module|slugify }}"></a>
    <h2>{{ x.module }}</h2>
    {% endifchanged %}
    {% include "patternatlus/_pattern.html" with pattern=x %}
{% endfor %}
{% endblock %}

