{% load static %}
<div class="djdt-pattern-list" style="float: left; width: 33%; height: 100%;">
<dl>
{% for pattern in patterns %}
{% ifchanged pattern.module %}
<dd {% if forloop.first %}style="display: none;"{% endif %}>
<hr style="margin: 1em 0 border: 0; border-top: 1px solid #DDD;">
</dd>
{% endifchanged %}
<dt><strong><a class="remoteIframe" href="{{ pattern.get_absolute_url }}#p-{{ pattern.get_short_ref }}">{{ pattern.name }}</a></strong></dt>
<dd>part of &#8216;<a class="remoteIframe" href="{{ pattern.get_parent_url }}#p-{{ pattern.get_short_ref }}">{{ pattern.module_name }}</a>&#8217;</dd>

{% endfor %}
</dl>
</div>
<div class="djdt-pattern-preview" style="float: left; width: 67%; height: 100%;"></div>

<script src="{% static 'debug_toolbar/js/pattern_iframe.js' %}"></script>
